In [13]:
import pandas as pd
import numpy as np


# read the worldometer_coronavirus_daily_data.csv file
daily_df = pd.read_csv('https://raw.githubusercontent.com/jfoo0016/FIT3179_Assignment2/main/data/worldometer_coronavirus_daily_data.csv')

# read the worldometer_coronavirus_summary_data.csv file
summary_df = pd.read_csv('https://raw.githubusercontent.com/jfoo0016/FIT3179_Assignment2/main/data/worldometer_coronavirus_summary_data.csv')

In [14]:
# standardize country names

# identify the differences
print("Countries in the Daily Data not in Summary Data")
print([x for x in daily_df.country.unique() if x not in summary_df.country.unique()])

Countries in the Daily Data not in Summary Data
['Bosnia And Herzegovina', 'Brunei Darussalam', 'Central African Republic', 'Cote D Ivoire', 'Democratic Republic Of The Congo', 'Dominican Republic', 'Equatorial Guinea', 'Falkland Islands Malvinas', 'Guinea Bissau', 'Solomon Islands', 'South Sudan', 'State Of Palestine', 'Timor Leste', 'Trinidad And Tobago', 'UK', 'USA', 'Viet Nam', 'Western Sahara']

In [15]:
# replace the names in vacc_df as the names in summary_df is already following the naming of countries from natural earth dataset
daily_df.country = daily_df.country.replace().replace({
    "Antigua and Barbuda": "Antigua and Barbuda",
    "Bosnia And Herzegovina": "Bosnia and Herz.",
    "Brunei Darussalam": "Brunei",
    "Central African Republic": "Central African Rep.",
    "Cote D Ivoire": "CÃ´te d'Ivoire",
    "Czechia": "Czech Republic",
    "State Of Palestine": "Palestine",
    "Democratic Republic Of The Congo": "Dem. Rep. Congo", 
    "Dominican Republic": "Dominican Rep.",
    "Equatorial Guinea": "Eq. Guinea",
    "Falkland Islands Malvinas": "Falkland Is.",
    "Hong Kong": "China Hong Kong Sar",
    "Macao": "China Macao Sar",
    "USA": "United States of America", 
    "UK": "United Kingdom",
    "Isle of Man": "Isle Of Man",
    "Republic of Ireland": "Ireland",
    "Solomon Islands": "Solomon Is.",
    "South Sudan": "S. Sudan",
    "Timor Leste": "Timor-Leste",
    "Viet Nam": "Vietnam",
    "Western Sahara": "W. Sahara"
})

In [16]:
# add new cumulative_total_recovered column
daily_df['cumulative_total_recovered'] = daily_df['cumulative_total_cases'] - daily_df['active_cases'] - daily_df['cumulative_total_deaths']

# add new daily_new_recovered column
daily_df['daily_new_recovered'] = daily_df['cumulative_total_recovered'].diff().fillna(daily_df['cumulative_total_recovered'])

In [17]:
# merge the continent and population columns only from the summary dataset into the daily dataset
daily_df = pd.merge(daily_df, summary_df[['country', 'continent', 'population']], on='country', how='left')


daily_df.tail()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,cumulative_total_recovered,daily_new_recovered,continent,population
184782,2022-5-10,Zimbabwe,248642.0,106.0,963.0,5481.0,2.0,242198.0,80.0,Africa,15265849.0
184783,2022-5-11,Zimbabwe,248778.0,136.0,1039.0,5481.0,0.0,242258.0,60.0,Africa,15265849.0
184784,2022-5-12,Zimbabwe,248943.0,165.0,1158.0,5481.0,0.0,242304.0,46.0,Africa,15265849.0
184785,2022-5-13,Zimbabwe,249131.0,188.0,1283.0,5482.0,1.0,242366.0,62.0,Africa,15265849.0
184786,2022-5-14,Zimbabwe,249206.0,75.0,1307.0,5482.0,0.0,242417.0,51.0,Africa,15265849.0

In [18]:
# create new csv file
daily_df.to_csv('C:/Users/FooJacky/Documents/2022 Sem 2/FIT3179/FIT3179_Assignment2/data/new_daily_data.csv')