In [14]:
import pandas as pd
import numpy as np


# read the worldometer_coronavirus_daily_data.csv file
daily_df = pd.read_csv('https://raw.githubusercontent.com/jfoo0016/FIT3179_Assignment2/main/data/worldometer_coronavirus_daily_data.csv')

# read the worldometer_coronavirus_summary_data.csv file
summary_df = pd.read_csv('https://raw.githubusercontent.com/jfoo0016/FIT3179_Assignment2/main/data/worldometer_coronavirus_summary_data.csv')

In [20]:
# standardize country names

# identify the differences
print("Countries in the Daily Data not in Summary Data")
print([x for x in daily_df.country.unique() if x not in summary_df.country.unique()])

Countries in the Daily Data not in Summary Data
['Guinea Bissau', 'Trinidad And Tobago']

In [19]:
# replace the names in vacc_df as the names in summary_df is already following the naming of countries from natural earth dataset
daily_df.country = daily_df.country.replace().replace({
    "Antigua and Barbuda": "Antigua and Barbuda",
    "Bosnia And Herzegovina": "Bosnia and Herz.",
    "Brunei Darussalam": "Brunei",
    "Central African Republic": "Central African Rep.",
    "Cote D Ivoire": "CÃ´te d'Ivoire",
    "Czechia": "Czech Republic",
    "State Of Palestine": "Palestine",
    "Democratic Republic Of The Congo": "Dem. Rep. Congo", 
    "Dominican Republic": "Dominican Rep.",
    "Equatorial Guinea": "Eq. Guinea",
    "Falkland Islands Malvinas": "Falkland Is.",
    "Hong Kong": "China Hong Kong Sar",
    "Macao": "China Macao Sar",
    "USA": "United States of America", 
    "UK": "United Kingdom",
    "Isle of Man": "Isle Of Man",
    "Republic of Ireland": "Ireland",
    "Solomon Islands": "Solomon Is.",
    "South Sudan": "S. Sudan",
    "Timor Leste": "Timor-Leste",
    "Viet Nam": "Vietnam",
    "Western Sahara": "W. Sahara"
})

In [21]:
# merge the population column only from the summary dataset into the daily dataset
daily_df = pd.merge(daily_df, summary_df[['country', 'population']], on='country', how='left')

daily_df.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,population
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN,40560636.0
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN,40560636.0
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN,40560636.0
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN,40560636.0
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN,40560636.0

In [22]:
# create new csv file
daily_df.to_csv('C:/Users/FooJacky/Documents/2022 Sem 2/FIT3179/FIT3179_Assignment2/data/new_daily_data.csv')